html, body, ul, li, div, h4, p, span {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul {
  width: 100%;
  list-style: none;
  font-size: 0;
  column-width: 320px;
  column-gap: 0;
  li {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
  }
}